.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3.8rem;
  transform: translateY(-25px);
  .userBox {
    display: flex;
    align-items: center;
    width: 800px;
    gap: 1rem;
    .questionTitle {
      border: 1px solid #eef1ff;
      border-radius: 16px;
      background-color: #eef1ff;
      min-width: 310px;
      min-height: 45px;
      padding: 1rem;

      p {
        color: #585858;
        max-width: 395px;
      }
    }
  }
  .questionPart {
    display: flex;
    gap: 1rem;
    position: relative;
    .questionBox {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .questionCard {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.6rem;
        padding: 0.5rem;
        text-align: center;
        min-width: 290px;

        p {
          color: #585858;
        }
      }
      .questionNum {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        color: blue;
        background-color: #4752f325;
      }
    }
    .questionImg {
      position: absolute;
      right: -70px;
      top: -30px;
    }
  }
}
@media (max-width: 820px) {
  .userBox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    .questionTitle {
      border: 1px solid #eef1ff;
      border-radius: 16px;
      background-color: #eef1ff;
      min-width: 310px;
      min-height: 45px;
      padding: 1rem;

      p {
        color: #585858;
        max-width: 395px;
      }
    }
  }
}
