.footer {
  background-color: #0d0d0d;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.contactRes {
  display: none;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logoSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    &::before {
      content: "";
      display: inline-block;
      width: 26px;
      height: 25px;
      background-image: url("../../../../public/image/location.svg");
    }
  }
}
.navigationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  transform: translateY(10px);
  .navigation {
    display: flex;
    gap: 5rem;

    a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #9ca3af;
      }
    }
  }
  .navigationField {
    position: relative;
    input {
      border-radius: 16px;
      width: 470px;
      height: 52px;
      border: none;
      padding-left: 1.2rem;
      font-size: 18px;
      font-weight: 400;
      &::placeholder {
        color: #adb5bd;
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: absolute;
      top: 5px;
      right: 105px;
      font-weight: 400;
      color: #fff;
      padding: 0.75rem 1.5rem;
      border-radius: 16px;
      width: 172px;
      height: 42px;
      transition: background-color 0.3s ease;
      background: linear-gradient(to right, #8e15ba, #5175f0);
      font-size: 16px;
      svg {
        width: 22px;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  transform: translateY(12px);
  align-items: flex-start;

  .email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-decoration: none;

    svg {
      color: #9ca3af;
    }

    &:hover {
      color: #9ca3af;
    }
  }

  .social,
  .socialRes {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: flex-start;
    span {
      color: #9ca3af;
    }

    a {
      color: #fff;
      transition: color 0.3s ease;

      &:hover {
        color: #9ca3af;
      }
    }
  }
}

.copyright {
  .copyrightLineRes {
    display: none;
  }
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  p {
    font-size: 18px;
    padding: 1rem 0;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.8rem;
  }
  .content {
    flex-direction: column;
    gap: 1rem;
    &::after {
      display: none !important;
    }
    .contactRes {
      display: flex !important;
      flex-direction: column;
      gap: 1rem;
      .email {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
        text-decoration: none;

        svg {
          color: #9ca3af;
        }

        &:hover {
          color: #9ca3af;
        }
      }

      .social {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          color: #9ca3af;
        }

        a {
          color: #fff;
          transition: color 0.3s ease;

          &:hover {
            color: #9ca3af;
          }
        }
      }
    }
  }
  .navigationBox {
    width: 100%;
    .navigation {
      flex-direction: column;
      transform: translateY(0px) !important;
      gap: 1rem;
    }
    .navigationField {
      width: 100%;
      input {
        width: 100%;
        font-size: 14px;
        padding-left: 0.6rem;
      }
      .button {
        width: 124px;
        right: 3%;
        font-size: 16px;
        gap: 0.5rem;
        font-weight: 400 !important;
        border-radius: 8px;
      }
    }
  }

  .contact {
    align-items: center;
    display: none;
  }

  .social {
    justify-content: center;
  }
  .socialRes {
    align-items: flex-start !important;
  }
  .copyright {
    text-align: center;
    color: #9ca3af;
    font-size: 0.875rem;
    .copyrightLineRes {
      display: block;
      width: 100%;
      padding: 0.4rem 0;

      img {
        width: 100%;
      }
    }
    .copyrightLine {
      display: none;
    }
    p {
      font-size: 14px;
      margin-bottom: 0 !important;
    }
  }
}
