.topicSection {
  position: relative;
  width: 100%;
  height: 88vh;
  img {
    width: 100%;
    height: 90vh;
  }
  .content {
    position: absolute;
    top: 70%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.4rem;
    h1 {
      font-size: 3rem;
      margin: 0 0 10px 0;
    }
    .pCanDidate {
      font-size: 32px;
      margin: 0 0 20px 0;
    }
    .p {
      font-size: 48px;
      margin: 10px 0 20px 0;
    }
    .btnCanDidate {
      margin-top: 0.6rem;
      max-width: 370px;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .btn {
      max-width: 237px;
      height: 60px;
      border-radius: 16px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .contentEmp {
    position: absolute;
    top: 74%;
    left: 8%;
    transform: translateY(-50%);
    color: #2e2e2e;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.4rem;
    h1 {
      font-size: 3rem;
      margin: 0 0 10px 0;
    }
    .pCanDidate {
      font-size: 32px;
      margin: 0 0 20px 0;
    }
    .p {
      max-width: 1000px;
      font-size: 48px;
      margin: 10px 0 20px 0;
    }
    .btnCanDidate {
      margin-top: 0.6rem;
      max-width: 370px;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .btn {
      max-width: 237px;
      height: 60px;
      border-radius: 16px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .topicSection {
    position: relative;
    width: 100%;
    height: 76vh !important;

    .content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      right: 0;
      left: 0;
      top: 440px;
      gap: 1rem;
      h1 {
        font-size: 24px !important;
        max-width: 340px;
        line-height: 36px;
      }

      p {
        font-size: 16px !important;
        line-height: 24px;
        max-width: 316px;
      }
      .btn {
        height: 42px;
        width: 220px;
        font-size: 20px !important;
        padding: 0;
      }
      .btnCanDidate {
        height: 45px;
        width: 280px;
        font-size: 20px !important;
        padding: 0;
      }
    }
    .contentEmp {
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      right: 0;
      left: 0;
      top: 440px;
      gap: 1rem;
      h1 {
        font-size: 25px !important;
        max-width: 340px;
        line-height: 36px;
      }

      p {
        font-size: 17px !important;
        line-height: 27px;
        max-width: 318px !important;
      }
      .btn {
        height: 42px;
        width: 220px;
        font-size: 20px !important;
        padding: 0;
        border-radius: 8px !important;
      }
      .btnCanDidate {
        height: 45px;
        width: 280px;
        font-size: 20px !important;
        padding: 0;
      }
    }
  }
}
