.wrapper {
  padding: 1.1rem;
  .loginDesc {
    place-items: center;
    .loginHeader {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      align-items: center;

      .googleBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        width: 100%;
        min-width: 500px;
        border-color: #d2d1d2 !important;
        border-radius: 16px;
        height: 44px;
      }
    }
    .dividerBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 0.5rem;
      margin: 0.6rem 0;
      .divider {
        height: 1px;
        max-width: 240px;
        width: 100%;
        background-color: #c3bfc3cf;
      }
      span {
        color: #c3bfc3;
        font-size: 14px;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .Checkbox {
        margin: 0.1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }
      .submitBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.2rem 0;
        width: 100%;
        border-color: #d2d1d2 !important;
        border-radius: 16px;
        background-color: #0063f5;
        height: 44px;
      }
    }
  }

  .imgBox {
    place-items: center;
    .img {
      width: 100%;
      height: 100%;
      max-height: 94vh;
      max-width: 660px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}
.label {
  font-size: 16px !important;
  color: #737373;
}
.labelCheck {
  font-size: 15px !important;
  color: #737373;
}
.description {
  font-size: 12px !important;
  margin: 0.3rem 0;
}

.input {
  margin: 0.5rem 0;
  height: 50px !important;
  border-radius: 8px !important;
  padding: 0 1rem !important;
  font-size: 19px !important;
  border-color: #c3bfc3cf;
  width: 100%;
  min-width: 515px;
}
.root {
  width: 100%;
}
