.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  min-height: 85vh;

  h1 {
    font-size: 85px;
  }
  p {
    font-size: 24px;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #4752f3;
    border: 1px solid #4752f3;
    user-select: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    font-weight: 500;
    background-color: #fff;
    position: relative;
    z-index: 100;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
@media (max-width: 768px) {
  .container {
    h1 {
      font-size: 42px;
    }
    p {
      text-align: center;
      font-size: 24px;
    }
  }
}
