.sliderContainer {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; // Hide overflow to show only part of the third card
  //max-width: 1500px;
  width: 100%;
  //justify-content: center;
  cursor: grabbing;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.slider {
  display: flex;
  //justify-content: center;
  align-items: center;
  overflow-x: scroll; // Allow horizontal scrolling
  scroll-behavior: smooth;
  //width: calc(100% - 60px); // Adjust width to account for buttons
  padding: 2rem 0;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */

  &::-webkit-scrollbar {
    display: none; // Hide scrollbar
  }

}

.button {
  display: flex;
  gap: 0.8rem;
  color: #4752f3;
  border: 1px solid #4752f3;
  padding: 0.75rem 1.9rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-weight: 500;
  background-color: #fff;
  position: relative;
  z-index: 100;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.card {
  min-width: 50px; // Adjust card width
  max-width: 812px;
  margin: 0 10px; // Space between cards
  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; // Prevent cards from shrinking
  display: flex;
  scroll-snap-align: start;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  .active {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
  }
  .indicator {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .cardIc {
    display: flex;
    gap: 1rem;

    p {
      color: #878787;
      font-size: 14px;
    }
  }

  h3 {
    font-size: 24px;
  }

  p {
    // max-width: 283px;
    max-width: 383px;
    font-size: 18px;
    line-height: 1.5;
    color: #0d131d;
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.3rem;
    h3 {
      font-size: 18px;
      font-weight: bold;
      -webkit-line-clamp: 1; // Limits text to 3 lines
      word-wrap: break-word; // ✅ Forces long words to break
      max-width: 100%; // ✅ Prevents it from going beyond card width
      overflow: hidden;
      text-overflow: ellipsis; // ✅ Adds "..." if it overflows
      max-height: 2.5em; // Adjust based on font-size
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3; // Limits text to 3 lines
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4.5em; // Adjust based on font-size
    }
  }

  .imgCard {
    width: 280px;
    height: 256px;
  }
}

.scrollButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; // Adjust button size
  z-index: 1; // Ensure buttons are above the slider
}

@media (max-width: 768px) {
  .slider {
    width: unset; // Adjust width to account for buttons
  }

  .button {
    height: 42px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px !important;
    max-width: 155px !important;
  }

  .card {
    min-width: unset; // Adjust card width
    width: 100%;
    margin: 0 !important; // Space between cards
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; // Prevent cards from shrinking
    display: flex;

    .cardIc {
      flex-direction: column;
      gap: 0.5rem;

      img {
        width: 16px;
        height: 16px;
      }

      p {
        font-size: 12px !important;
      }
    }

    h3 {
      font-size: 14px;
    }

    p {
      max-width: 283px;
      font-size: 12px;
      line-height: 1.5;
      color: #0d131d;
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0.7rem;
    }

    .imgCard {
      width: 155px !important;
      height: 195px !important;
    }
  }
}