@import '../shared/styles.module.scss';

.progressBar {
  padding: 2rem 1rem;
  position: relative;
  width: 600px;
}

.btnBox {
  padding: 0 3rem;
}

.labels {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.label {
  position: absolute;
  font-size: 14px;
  color: #585858;
  transform: translateX(-50%);
}

@media (max-width: 860px) {
  .progressBar {
    width: 470px;
  }
  
  .questionImg {
    left: -54px !important;
  }
  
  .btnBox {
    padding: 0 2rem;
  }
  
  .label {
    font-size: 12px !important;
  }
}

@media (max-width: 690px) {
  .progressBar {
    width: 360px;
  }
  
  .questionImg {
    display: none !important;
  }
  
  .btnBox {
    padding: 0 0.5rem;
  }
}
.progressBar {
  padding: 2rem 1rem;
  position: relative;
  width: 600px;
}
.btnBox {
  padding: 0 3rem;
}

.labels {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.label {
  position: absolute;
  transform-origin: center;
  font-size: 0.875rem;
  color: #6b7280;
  white-space: nowrap;
  font-size: 14px;
}

.track {
  width: 100%;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.progress {
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}

.dot {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.2s ease;

  &.active {
    background-color: #60a5fa;
  }
  &.alreadyAnswer {
    background-color: #0db492 !important;
  }
}

.indicator {
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // cursor: grab;
  z-index: 2;
  transition: all 0.2s ease;

  &:active {
    cursor: grabbing;
  }
}
@media (max-width: 860px) {
  .userBox {
    display: flex;
    align-items: center;
    width: 100% !important;
    gap: 1rem;
    .questionTitle {
      border: 1px solid #eef1ff;
      border-radius: 16px;
      background-color: #eef1ff;
      min-width: 310px;
      min-height: 45px;
      padding: 1rem;

      p {
        color: #585858;
        max-width: 395px;
      }
    }
  }
  .progressBar {
    padding: 2rem 1rem;
    position: relative;
    width: 470px;
  }
  .questionImg {
    position: absolute;
    left: -54px !important;
    top: -30px !important;
  }
  .btnBox {
    padding: 0 2rem;
  }

  .label {
    font-size: 12px !important;
  }
}
@media (max-width: 690px) {
  .progressBar {
    padding: 2rem 1rem;
    position: relative;
    width: 360px;
  }
  .questionImg {
    display: none !important;
  }
  .btnBox {
    padding: 0 0.5rem;
  }
}
