.wrapper {
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 10px;
    
  
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(94, 98, 252, 0.8);
      border-radius: 8px;
      transition: background-color 0.3s ease;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(75, 78, 225, 0.9);
    }
  
    &::-webkit-scrollbar-track {
      background-color: rgba(241, 241, 241, 0.5);
      border-radius: 8px;
      border: none;
    }
  
    &::-webkit-scrollbar {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  
    &:hover::-webkit-scrollbar {
      opacity: 1;
    }
  }
  
  .headerImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .desc {
    margin-top: 20px;
    padding: 20px;
  }
  
  .cardIc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cardPart {
    display: flex;
    align-items: center;
  }
  
  .image {
    margin-right: 10px;
  }
  
  .cardExpect {
    font-weight: bold;
  }
  .goBackBtn {
    position: fixed;
    bottom: 64px;
    right: 94px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    width: 40px;
    height: 40px;
    transition: width 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    padding: 0.9rem;
    background-color: rgba(94, 98, 252, 0.8);
    color: white;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000;
    opacity: 0.9;
    font-weight: 100;
    &:hover {
      width: 120px;
      background-color: rgba(94, 98, 252, 1);
      opacity: 1;
    }
  }
  
  .goBackText {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .goBackBtn:hover .goBackText {
    opacity: 1;
  }
   