.title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
  padding: 1rem;
  padding-top: 4rem;
}

.gridContainer {
  margin: 6rem;
  overflow: hidden;
  gap: 2rem;
}

.gridItem {
  margin-bottom: 2rem;
  gap: 10rem;
}

.percentageText {
  font-size: 68px;
  font-weight: bold;
  margin: 0;
  color: #4752f3;
}

.descriptionText {
  font-size: 40px;
  max-width: 560px;
  color: #2e2e2e;
  line-height: 60px;
  margin: 0;
}
