.container {
  background-color: #2026ce;
  padding-bottom: 3rem;
  .wrapper {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
    }
    .navActions {
      display: flex;
      align-items: center;
      gap: 48px;
      list-style: none;
      margin-right: 2rem;

      li {
        cursor: pointer;
        a {
          color: #fff !important;
        }
      }
      .menuBar {
        display: none;
      }
    }

    .navList {
      display: flex;
      align-items: center;
      gap: 48px;
      list-style: none;

      li {
        cursor: pointer;
        font-size: 20px;
        a {
          color: #fff !important;
        }
      }
    }
    .btnGroup {
      display: flex;
      gap: 1rem;
      align-items: center;

      .btnLogin {
        border-radius: 8px !important;
        color: #4752f3;
        background-color: #fff;
      }
      .btnGet {
        border-radius: 12px;
        color: #fff;
        background: linear-gradient(to right, #8e15ba, #5175f0);
      }
    }
  }
  .NgnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 1.5rem;
    margin: 2rem 0;
    .btnChanci {
      border-radius: 10px;
      color: #fff;
      width: 200px;
      height: 42px;
      background: linear-gradient(to right, #8e15ba, #6154fd, #3d9dd4, #31eec8);
    }
    .inputBox {
      position: relative;
      margin: 1.2rem 0;

      .input {
        min-width: 750px;
        height: 57px !important;
        border-radius: 12px !important;
      }
      .inputBtn {
        position: absolute;
        border-radius: 12px !important;
        right: 15px;
        top: 8px;
        height: 42px;
      }
      .inputIc {
        position: absolute;
        top: 12px;
        left: 15px;
        height: 34px !important;
      }
    }
    h1 {
      font-size: 48px !important;
    }
    p {
      max-width: 720px;
      text-align: center;
    }
  }
  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    margin-top: 3rem;
    .cardBox {
      min-width: 390px;
      height: 172px;
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      Button {
        background-color: #4752f3;
        border-radius: 12px;
        font-size: 18px;
      }
      p {
        padding-left: 2.2rem;
        max-width: 250px;
        color: #737373;
      }
      .cardHeader {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .container {
    .wrapper {
      padding: 1rem;
      .navList {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .container {
    .wrapper {
      background-color: none;
      padding: 0.5rem 0.5rem;
      .navActions {
        display: flex;
        align-items: start;
        gap: 10px;
        list-style: none;
        img {
          width: 45px;
          height: 45px;
        }
        li {
          cursor: pointer;
        }
        .menuBar {
          display: block;
          width: 24px;
          height: 24px;
        }
      }
      .navList {
        display: none;
      }
      .btnGroup {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .btnLogin {
          height: 24px;
          font-size: 12px;
          font-weight: 400;
        }
        .btnGet {
          height: 24px;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .NgnBox {
      padding: 0 2.3rem;
      margin: 1.4rem 0;
      h1 {
        font-size: 24px !important;
      }
      p {
        text-align: center;
      }
      .inputBox {
        width: 100%;
        .input {
          min-width: unset !important;
          width: 100%;
          height: 57px !important;
          border-radius: 12px !important;
        }
        .inputBtn {
          position: absolute;
          border-radius: 12px !important;
          right: 15px;
          top: 8px;
          height: 42px;
        }
        .inputIc {
          position: absolute;
          top: 12px;
          left: 15px;
          height: 34px !important;
        }
      }
    }
    .cardWrapper {
      display: flex;
      flex-direction: column;
      padding: 0 3.4rem;
      .cardBox {
        min-width: unset !important;
        width: 100%;
      }
    }
  }
}
